---
import type { SiteMeta } from "@/data/siteMeta";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import siteConfig from "@/site-config";
import { ViewTransitions } from "astro:transitions";
import ThemeToggle from "@/components/ThemeToggle";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#f6eee3" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- Google tag (gtag.js) -->
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<script defer src="https://cloud.umami.is/script.js" data-website-id="6951e531-a667-495e-b045-4f7dbe062446"></script>
		<ViewTransitions fallback="swap" />
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
	<script defer src="https://cloud.umami.is/script.js" data-website-id="5d73bcdf-2343-4b61-ae18-814547125920"></script>
	</head>
	<body>
		<SkipLink />
		<ThemeToggle />
		<Header />
		<main id="main" class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
